<h1 class="text-dark py-5 text-center">Number to Word</h1>
<p class="text-dark py-5 text-center"><strong>Welocome to Navin's Dictionary mapping! You can enter your phone number and map it to dictionary words</strong> <i class="fa fa-address-book" style="font-size:36px;"></i> </p>
<p class="text-success py-5 text-center"><strong>Upload an Dictinoray File.</strong> <i class="fa fa-list" style="font-size:24px;color:green"></i></p>
<i class="glyphicon glyphicon-list"></i>
<hr>
<div class="text-center">
	<%= render 'form', icicle: @icicle %>
</div>
<hr>
